version: '3.8'

services:
  ground_station:
    image: gs_backend
    container_name: ground_station
    build:
      context: ./
      dockerfile: ground_station.dockerfile
    ports:
      - 80:80
      - 5555:5555
    #environment:
    #  RX_PORT: ${RX_PORT?Variable not set}
    #  TX_PORT: ${TX_PORT?Variable not set}
    #  RADIO_PORT: ${RADIO_PORT?Variable not set}
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
      - "/dev/ttyUSB1:/dev/ttyUSB1"
      - "/dev/ttyUSB2:/dev/ttyUSB2"
    volumes:
      - .:/ground_station
    # command: tail -F anything

  redis:
    image: 'redis:latest'
    container_name: redis_container
    ports:
      - 6379:6379
    environment:
        - ALLOW_EMPTY_PASSWORD=yes

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
      - .:/ground_station

  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - 27017:27017
    volumes:
      - ./mongodb_data_container:/data/db